<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scroll Website</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <body>
    <!-- Navbar Section -->
    <nav class="navbar">
      <div class="navbar__container">
        <a href="#home" id="navbar__logo">COLOR</a>
        <div class="navbar__toggle" id="mobile-menu">
          <span class="bar"></span> <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="#home" class="navbar__links" id="home-page">Home</a>
          <!-- <li class="navbar__item"> -->
            <!-- <a href="/#about" class="navbar__links" id="about-page">About</a> -->
          <!-- </li>     -->
          </li>
        </ul>
      </div>
    </nav>

    <!-- Hero Section -->
    <div class="hero" id="home">
      <div class="hero__container">
        <h1 class="hero__heading">Get That <span>Bread</span></h1>
        <p class="hero__description">Brought to you by Wall Street Beasts</p>
       
      </div>
    </div>

    <!-- About Section -->
    <div class="main" id="about">
      <div class="main__container">
       <!-- <div class="main__img--container">
          <div class=""><i class=""></i></div>
        </div>-->
        <div class="main__content">

          <div class="container mycontainers">
            <h2 style = "text-align: center;"> Let's help you out!</h2>
            <form class="form-inline" action="">
              <div class="form-group">
                <label for="">Ticker:</label>
                <input type="text" required onkeydown="return /[a-z]/i.test(event.key)" class="form-control" id="tickername" placeholder="Enter Ticker Name" name="tickername">
              </div>
              <div class="form-group">
                <!-- <label for="pwd">Password:</label>
                <input type="texts" required class="form-control" id="pwd" placeholder="Enter password" name="pwd"></div> -->
                 <div class="form-group">
                <label for="pwd">Date Type:</label>
                <select name="selectctrl" required class="form-control">
                <option>Day</option>
                 <option>Week</option>
                  <option>Month</option>
                  <option>Year</option>
                </select>
                
              </div>
              <div class="form-group">
                
               <input type="radio" value="gain" name="profit" checked><label>&nbsp;Gain</label>
               <input type="radio" value="loss" name="profit" ><label>&nbsp;Loss</label>
              </div>

             <div class="right">
              <button type="submit" class="btn btn-default">Submit</button>
             </div>
            </form>
          </div>
        </div>

 </div>
        </div>

        <div class="footer__container"></div>
       
<!-- if variable is present, bring this part to page
<p hidden>
<div>

  <div class="container">
    <h1></h1>
    <div class="row">
      <div class="col-sm-6" style="background-color:rgb(228, 93, 15);">
        <p>Name of ticker:</p>
      </div>
      <div class="col-sm-6" style="background-color:rgb(184, 28, 54);">
        <p>Sed ut perspiciatis...</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" style="background-color:rgb(207, 102, 41);">
        <p>Price</p>
      </div>
      <div class="col-sm-6" style="background-color:rgb(224, 28, 61);">
        <p>Sed ut perspiciatis...</p>
      </div>
    </div>

  </div> 

</div>
      </div>
      </div>
    </div>
  </p>
-->

<!-- Main Section 
    <div class="main" id="about">
      <div class="main__container">
        <div class="main__img--container">
          <div class=""><i class=""></i></div>
        </div>
        <div class="main__content">
          <h1>We got you!</h1>
          
          <button class="main__btn"><a href="#">continue</a></button>
        </div>
      </div>
    </div>
  -->
    
 <div
</div>

    <!-- Footer Section -->
    <div class="footer__container">
      <div class="footer__links">
        <div class="footer__link--wrapper">
         
         
        </div>
     
      </div>
      <section class="social__media">
        <div class="social__media--wrap">
          <div class="footer__logo">
            <a href="/" id="footer__logo">GetThatBread</a>
          </div>
          <p class="website__rights">© GetThatBread 2022. All rights reserved</p>
          
        </div>
      </section>
    </div>

    <script src="app.js"></script>
  </body>
</html>